* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin';
}

a {
    text-decoration: none;
    color: black;
}

.menu-container-1 a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-content-1 {
    display: flex;
    height: 72px;
    padding: 16px 52px;
    flex-shrink: 0;
    background: #6D91DC;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 46px;
    z-index: 10;
}

.menu-container-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header-logo {
    display: flex;
    gap: 8px;
    width: 38px;
    height: 38px;
}

.header-name {
    color: #F8FDFE;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Rochester';
}

.header-price-btn {
    display: flex;
    gap: 8px;
}

.header-vector-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header-price {
    display: flex;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
}

.header-image-vector {
    width: 30px;
    height: 40px;
}

.image-vector-btn {
    background: #6D91DC;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;

}

.image-vector-cart {
    display: flex;
    width: 40px;
    height: 33px;
    flex-shrink: 0;
}

.menu-container-2 {
    display: flex;
    padding: 4px 52px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
    position: absolute;
    top: 104px;
    left: 0;
    background-color: #F8FDFE;
}

.header-list {
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
}

.header-list-name {
    margin-right: 1315px;
    font-size: 16px;
    font-weight: 400;
}

.menu-content-2-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.main-content {
    margin-bottom: 121px;
}

.main-container {
    display: flex;
}

.main-content-name {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.name-content {
    font-size: 32px;
    font-weight: 600;
    margin: 0 1129px 23px 52px;
}

.main-content-line {
    display: flex;
    width: 1650px;
    margin-left: 52px;
    margin-bottom: 56px;
    border: 1px solid #A8A8A8;
}

.form {
    display: flex;
    flex-direction: row;
    width: 416px;
    gap: 450px;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.input-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}



.input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 162px;
    gap: 8px;
}

.input-container input,
.input-container textarea {
    display: flex;
    border-radius: 4px;
    width: 416px;
    flex-direction: column;
    border: 1px solid #8E8E8E;
    background: #f5f5f5;
    padding: 10px;
    box-sizing: border-box;
    color: black;
    font-size: 16px;
    font-weight: 400;
    resize: none;
    font-family: 'Cabin';
}



.input-container::placeholder,
.text-area::placeholder,
.input-date::placeholder {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
}

.input-container input:focus,
.input-container textarea:focus {
    border: 1.5px solid #2080F6;
    background: #F5F5F5;
    outline: none;

}

.details {
    margin-left: 162px;
    font-size: 20px;
    font-weight: 700;
}

.general-context {
    font-size: 20px;
    font-weight: 700;
}

.context {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
}

.text-area {
    display: flex;
    height: 104px;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
}

.date {
    display: flex;
    align-items: center;
    gap: 19px;
    margin-left: 162px;
    font-size: 16px;
    font-weight: 400;
}

.input-date {
    display: flex;
    width: 120px;
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
}

.choose {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;

}

.radio-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 162px;
    margin-bottom: 24px;
}

.radios {
    display: flex;
    flex-direction: column;
    margin-left: 162px;
    gap: 16px;
}

.food-select {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    max-height: 40%;
    border-radius: 4px;
}

.how-many {
    display: flex;
    width: 446px;
    align-items: flex-start;
    gap: 24px;
}

.sushi-food {
    width: 145px;
    height: 100px;
}

.price-name-food {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    margin-bottom: 32px;
}

.name-sushi {
    align-self: stretch;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #A8A8A8;
}

.price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
}

.btn1 {
    display: flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
}


.total {
    display: flex;
    width: 446px;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid #A8A8A8;
    align-self: stretch;
    margin-bottom: 32px;
}

.last-step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.buttons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.btn-submit {
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #3D76BA;
    border: none;
}

.btn-submit:hover {
    border-radius: 4px;
    background: #63A1EB;
}

.btn-reset:hover {
    border-radius: 4px;
    background: #EEE;
}

.btn-reset {
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #DEDEDE;
    border: none;
}













.footer {
    display: flex;
    height: 88px;
    width: 100%;
    flex-shrink: 0;
    background: #6D91DC;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.footer-head {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    margin-left: 52px;
}

.footer-end {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    margin-right: 52px;
}